.suo
.vs
.nuget
.suo
CoreWebApplication.SeleniumTest/obj/CoreWebApplication.SeleniumTest.csproj.nuget.cache
CoreWebApplication.SeleniumTest/obj/CoreWebApplication.SeleniumTest.csproj.nuget.dgspec.json
CoreWebApplication/.vs/CoreWebApplication/v16/.suo
CoreWebApplication/.vs/CoreWebApplication/v16/Server/sqlite3/storage.ide
CoreWebApplication/.vs/CoreWebApplication/v16/Server/sqlite3/storage.ide-shm
CoreWebApplication/.vs/CoreWebApplication/v16/Server/sqlite3/storage.ide-wal
CoreWebApplication/obj/CoreWebApplication.csproj.nuget.cache
CoreWebApplication/obj/CoreWebApplication.csproj.nuget.dgspec.json
CoreWebApplication/obj/Debug/netcoreapp3.1/CoreWebApplication.assets.cache
CoreWebApplication/obj/Debug/netcoreapp3.1/CoreWebApplication.csprojAssemblyReference.cache
CoreWebApplication.SeleniumTest/obj/Debug/netcoreapp3.1/CoreWebApplication.SeleniumTest.assets.cache
CoreWebApplication.SeleniumTest/obj/Debug/netcoreapp3.1/CoreWebApplication.SeleniumTest.csprojAssemblyReference.cache
CoreWebApplication/.vs/CoreWebApplication/DesignTimeBuild/.dtbcache
*.cache
*.ide-shm
*.ide-wal
*.ide
CoreWebApplication/.vs/CoreWebApplication/v16/.suo
*.cache
CoreWebApplication/.vs/CoreWebApplication/v16/.suo
*.cache
